[submodule "YOLOv3_TensorFlow"]
	path = YOLOv3_TensorFlow
	url = git@github.com:Alebat/YOLOv3_TensorFlow.git
[submodule "iou_tracker"]
	path = iou_tracker
	url = git@github.com:Alebat/iou-tracker.git
[submodule "tracking_wo_bnw"]
	path = tracking_wo_bnw
	url = git@github.com:Alebat/tracking_wo_bnw.git
[submodule "C3D_tensorflow"]
	path = C3D_tensorflow
	url = git@github.com:Alebat/C3D-tensorflow.git
[submodule "MS_LSTM"]
	path = MS_LSTM
	url = https://github.com/loadder/MS_LSTM
